div#formLogin {
    display: none;
    position: fixed;
    border-radius: 5px;
    border: 2px solid #ffffff;
    top: 8%;
    right: 1%;
    width: 250px;
    height: 250px;
    background-color: rgba(0,0,0,.9);
}

div#formLogin:target {
    display: block;
}

div#formLogin button.close {
    border: none;
    font-family: monospace;
    float: right;
    cursor: pointer;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 2px;
    margin: 10px 10px;
}

div#formLogin label#lbLogin {
    font-family: 'Bubblegum Sans', cursive;
    color: white;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 25pt;
    position: absolute;
    cursor: auto;
}

div#formLogin input {
    padding: 5px;
    margin: 20px 0px -10px 20px;
    font-size: 12pt;
}

div#formLogin label {
    color: #d4d4d4;
    font-family: sans-serif;
    font-size: 10pt;
}

div#formLogin label, input[type='checkbox'] {
    cursor: pointer;
}

div.botoes {
    margin: 30px 60px;
}

div.botoes a {
    border: none;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
    color: white;
    padding: 10px;
}

div.botoes a.green {
    background-color: #02a202;
}

div.botoes a.green:hover {
    background-color: #027102;
}

div.botoes a.green:active {
    background-color: #07cb07;
}