@import url(https://fonts.googleapis.com/css?family=Bubblegum+Sans); /* h2, a */
@import url(https://fonts.googleapis.com/css?family=Titillium+Web); /* h2 */
@import url(https://fonts.googleapis.com/css?family=Oleo+Script); /* h1 */

body {
    background-color: white;
    font-family: Arial, sans-serif;
}

/* Formatação */
div.interface {
    width: 1350px; 
    background-color: #dddddd;
    margin-left: -10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

/* Formatação do Cabeçalho Home */
header#cabecalho {
    height: 660px;
    background: url("../img/Home-imagem.jpg") no-repeat;
    background-size: 1350px 660px;
}

header#cabecalho hgroup#textoCabecalho {
    text-align: center;
    padding-top: 120px;
}

header#cabecalho hgroup#textoCabecalho h1 {
    font-family: 'Oleo Script', cursive;
    font-size: 100pt;
    color: #ffffff;
}

header#cabecalho hgroup#textoCabecalho h2 {
    font-family: 'Bubblegum Sans', cursive;
    font-size: 30pt;
    color: #ffffff;
    margin-top: -100px;
}

/* Formatação do Menu */
div.divMenu {
    margin-top: -15px;
}

nav.menu {
    display: block;
}

nav.menu h1.menuPrincipal {
    display: none;
}

nav.menu ul.login_ul {
    background-color: rgba(0,0,0,.7);
    margin-top: 0px;
    width: 1310px;
    position: absolute;
    list-style: none;
    text-transform: uppercase;
}

nav.menu li.login_li {
    display: inline-block;
    background-color: transparent;
    padding: 15px 20px 6px 50px;
}

nav.menu li.login {
    margin-left: 320px;
}

nav.menu a {
    font-family: 'Bubblegum Sans', cursive;
    text-decoration: none;
    font-size: 20pt;
    color: white;
}

nav.menu a:hover {
    text-decoration: underline;
} 

nav.menu a:active {
    color: #ebebeb;
}

/* Formatação do Corpo da Esquerda */
section#corpoDaEsquerda {
    width: 675px;
    height: 150px;
    float: left;
}

/* Formatação do Corpo da Direita */
aside#corpoDaDireita {
    width: 675px;
    float: right;
}

/* Cuidado */
article h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20pt;
    text-align: center;
    color: #ffffff;
    background-color: #121212;
    margin-top: 0px;
    padding: 5px;
}

/* Cuidado */
article p {
    text-align: center;  
}

/* Formatação do Rodapé */
footer.rodape {
    clear: both;
    color: white;
    background-color: #121212;
}

footer.rodape p {
    text-align: center;
    padding: 15px;
}