/* Formatação do Cabeçalho Serviços */
header#cabecalhoServicos {
    height: 660px;
    background: url("../img/Servicos.jpg") no-repeat;
    background-size: 1350px 660px;
}

/* Formatação Serviços */
section#corpoServicos span {
    opacity: 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,.4);
    font-size: 15pt;
    padding: 5px;
    line-height: 408px;
}

section#corpoServicos li:hover span {
    opacity: 1;
}

section#corpoServicos ul { 
    list-style: none;
    margin-left: 250px;
    margin-right: 250px;
}

section#corpoServicos li {
    display: inline-block;
    width: 220px;
    height: 220px;
    margin: 5px 12px 15px 12px; 
    border: 5px solid white;
    box-shadow: 1px 1px 3px rgba(0,0,0,.5);
    transition: all .5s ease-out;
}

section#corpoServicos li:hover {
    transform: scale(1.2);
}

section#corpoServicos li#aerobica {
    background: url('../imgServicos/aerobica.jpg') no-repeat;
    background-position: 50% 50%; /* Mostra o meio da imagem */
    background-size: 750px 500px; /* Tamanho da imagem */
}
section#corpoServicos li#aerobica:hover {
    background-size: 220px 220px;
}

section#corpoServicos li#alongamento {
    background: url('../imgServicos/alongamento.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 750px 500px;
}
section#corpoServicos li#alongamento:hover {
    background-size: 220px 220px;
}

section#corpoServicos li#musculacao {
    background: url('../imgServicos/musculacao.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 750px 500px;
}
section#corpoServicos li#musculacao:hover {
    background-size: 220px 220px;
}

section#corpoServicos li#pilates {
    background: url('../imgServicos/pilates.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 750px 500px;
}
section#corpoServicos li#pilates:hover {
    background-size: 220px 220px;
}

section#corpoServicos li#spinning {
    background: url('../imgServicos/spinning.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 750px 500px;
}
section#corpoServicos li#spinning:hover {
    background-size: 220px 220px;
}

section#corpoServicos li#zumba {
    background: url('../imgServicos/zumba.jpg') no-repeat;
    background-position: 50% 50%;
    background-size: 750px 500px;
}
section#corpoServicos li#zumba:hover {
    background-size: 220px 220px;
}